.slick-dots li {
    list-style: none;
    margin: 0 10px;
  }
  .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background: #5b9bf3;
    opacity: 0.3;
    border-radius: 50%;
    border: 0;
    &:focus {
      outline: none;
    }
  }

  .slick-active button {
    background-color: #005480;
    opacity: 1;
  }
  .slick-arrow {
    z-index: 10;
    font-size: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 23px 20px;
    background: transparent;
    border: 0;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
    @media (max-width: 480px) {
      width: 55px;
      height: 55px;
    }
  }

  .slick-prev {
    position: absolute;
    bottom: -22%;
    left: 38%;
    background-image: url(../img/icons/Vector.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: #458ff6;
    //color: $primary-color;

    @media (max-width: 767px) {
      left: 17%;
    }
    @media (max-width: 479px) {
      bottom: -18%;
      left: 7%;
    }
  }
  .slick-next {
    position: absolute;
    bottom: -22%;
    left: 59%;
    background-image: url(../img/icons/Vector1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: #458ff6;
    @media (max-width: 767px) {
      left: 69%;
    }
    @media (max-width: 479px) {
      bottom: -18%;
      left: 75%;
    }
  }
  .slick-current {
    opacity: 1;
    color: #458ff6;
  }

  .slick-disabled {
    opacity: 0.2;
  }
